# Contentful CMS Configuration - MG Headhunting
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=your_space_id_here
NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN=your_delivery_api_token_here
NEXT_PUBLIC_CONTENTFUL_PREVIEW_TOKEN=your_preview_api_token_here
CONTENTFUL_MANAGEMENT_TOKEN=your_cma_token_here
NEXT_PUBLIC_CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_PREVIEW_SECRET=your_live_preview_secret_here

